.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: conic-gradient(green, orange, purple, green);
  width: 45rem;
  height: 25rem;
}



.circle {
  width: 35rem;
  height: 35rem;
  position: absolute;
  border: 5px solid red;
  border-radius: 999%;
  z-index: -99;
  top: 5rem;
}