.main {
  display: flex;
  justify-content: left;
  align-items: top;
  height: 100%;
  width: 100%;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 2px solid red;
}

.titleText {
  font-size: 5rem;
}