.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* holds everything within it */
.outterContainer {
  /* background: white; */
  border: 5px solid rgb(48, 43, 43);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45rem;
  height: 25rem;
}